################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/System.Runtime.Caching.4.7.0
/obj
/bin/Debug
/.vs/InMemoryCaching/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
